@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

h1, h2{
    font-family: 'Fira Sans', sans-serif;
    font-size: 2em;
}

::-webkit-scrollbar {
    display: none;
}

body, html{
    width: 100vw;
    height: 100vh;
}

:root{
    --cor01:#1F386E;
    --cor02:#FFBE00;
}

section.secao1{
    display: flex;
    background-color: var(--cor01);
    color: var(--cor02);
    flex-direction: column;
    background-image: url(../imagens/head2.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    height: 430px;
    align-items: center;
    justify-content: flex-end;
}

section.secao1 > .chamada{
   text-align: center;
   margin: 15px 0px;
}

.contato{
    background-color: #425783;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 12px;
    font-size: 1.2em;
    color: var(--cor02);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.623);
    width: 300px;
}

.contato i{
    margin-left: 10px;
    font-size: 20px;
    color: rgb(34, 255, 34);
}

a{
    text-decoration: none;
    color: var(--cor02);
}

.contato:hover{
    background-color: white;
    color: var(--cor01);
}

section.secao4{
    padding: 20px;
    color: var(--cor01);
}

section.secao4 > img{
    display: block;
    margin: 20px auto;
}

section.secao4 > h2{
    margin-bottom: 20px;
}

section.secao4 > span{
    display: block;
    width: 200px;
    margin: auto;
    text-align: center;
    font-size: 0.9em;
}

section.secao4 > div.caixa-mvv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 25px 0;
}

section.secao4 > h2, p{
    text-align: center;
}

.mvv{
    background-color: white;
    width: 130px;
    min-height: 130px;
    padding: 5px;
    text-align: center;
    color: var(--cor02);
    border-radius: 10px;
    color: var(--cor01);
    border: 2px solid var(--cor01);
}

.mvv > p{
    font-size: 0.8em;
    text-align: center;
}

section.secao3{
    display: flex;
    flex-direction: column;
    background-color: var(--cor01);
    color: white;
}

section.secao3 > h2, ul{
    margin-left: 30px;
}

.fdourado{
    background-color: var(--cor02);
    color: var(--cor01);
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.695);
}

section.secao3 .fdourado{
    margin-bottom: 25px;
}

section.secao3 > h2{
    text-align: center;
    margin: 25px;
}

section.secao3 > ul{
    margin-bottom: 25px;
}

section.secao3 > a > div.contato{
    margin: auto;
    margin-bottom: 25px;
}

section.secao2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    color: var(--cor01);
}

section.secao2 > img{
    margin-top: 25px;
}

section.secao5{
    display: flex;
    background-color: var(--cor01);
    flex-direction: column;
    align-items: center;
}

section.secao5 img{
    margin-bottom: 25px;
}

section.secao5 > h2{
    margin: 25px 0px;
    color: white;
}

section.secao5 > div.fbranco{
    margin: 10px 0px;
}

section.secao5 > a > .contato {
    margin-top: 25px;
}

.slider{
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
}

.slides{
    width: 400%;
    height: 300px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.first{
    transition: 1.5s;
}

.slides img{
    width: 300px;
}

.manual-navigation{
    position: absolute;
    width: 300px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}

.manual-btn:not(:Last-child){
    margin-right: 32px;
}

.manual-btn:hover{
    background-color: white;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

.navigation-auto{
    position: absolute;
    width: 300px;
    margin-top: 260px;
    display: flex;
    justify-content: center;
}

.navigation-auto div {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}

.navigation-auto div:not(:last-child){
    margin-right: 32px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}

#radio2:checked ~.navigation-auto .auto-btn2{
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}

.fbranco{
    border: 2px solid white;
    color: white;
    padding: 5px;
    border-radius: 10px;
    width: 300px;
}

section.secao6{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--cor01);
    padding: 20px;
}

section.secao6 > h2{
    margin: 25px 0px;
}

.pergunta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0.644);
    width: 90vw;
}

.pergunta h3{
    font-size: 20px;
}

.pergunta i{
    font-size: 30px;
    transition: .5s;
}

.resposta{
    max-height: 0px;
    overflow: hidden;
    margin-bottom: 15px;
    transition: .5s ease-in-out;
    line-height: 20px;
}

.ativar{
    max-height: 300px;
}

.fechar i{
    transform: rotate(180deg);
}

section.secao7{
    display: flex;
    flex-direction: column;
    background-color: var(--cor01);
    color: white;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

section.secao7 > h2{
    margin-top: 25px;
    text-align: center;
}

section.secao7 > p{
    margin: 25px 0px;
}

div.nfim{
    display: flex;
    flex-direction: column;

}

section.secao7 > div.nfim{
    margin-bottom: 25px;
}

section.secao7 > div.nfim > span{
    font-size: 2.3em;
    text-align: center;
    color: var(--cor02);
    font-weight: bold;
}

section.secao7 > div.nfim > p{
    font-size: 0.8em;
}

section.secao7 > i{
    font-size: 150px;
    text-align: center;
}